
=provide :title, 'Items'
.container-fluid
	.row
		.col-lg-10.col-lg-offset-1
			.row
				-@items.each_with_index do |item, carousel_idx|
					.col-lg-3
						#my-carousel.carousel.slide{"data-ride" => "carousel"}
							/ Indicators
							%ol.carousel-indicators
								-item.images.each_with_index do |image, index|
									-if index == 0
										%li.active{"data-slide-to" => "0", "data-target" => "#my-carousel"}
									-else
										%li{"data-slide-to" => "1", "data-target" => "#my_carousel"}
								
							/ Wrapper for slides
							.carousel-inner
								-item.images.each_with_index do |image, index|
									-if index == 0
										.item.active
											=image_tag image.photo.url(:medium)
									-else
										.item
											=image_tag image.photo.url(:medium)
								

						%button.btn.item-btn.text-center{align: "center", "data-placement" => "bottom", "data-toggle" => "popover", type: "button"}
							%h1.item-title= item.title
							#popover_content_wrapper{style: "display: none !important;"}
								.item-details
									%h3 Description:
									%p
										=item.description								
									%h3 Tell us at what price you think you can sell this item for after fees?
									= form_for item, :html => {:class => "form-inline"} do |f|
										= f.label :Price, :class => "sr-only"
										= f.number_field :price_proposed, :class => "form-control",
											:placeholder => "Price", :style => "width: 130px;"
										= f.submit "Submit", :class =>"btn btn-primary ", :style => "margin-left:11px;"
				

%script
	$(document).ready(function() {

	$('.carousel').carousel({
	interval: 2000
	});

	$('.item-btn').popover({ 
	html : true, 
	content: function() {
	return $('#popover_content_wrapper').html();
	}
	});

	});