%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %p.navbar-brand
        =link_to "Vendi", "#{root_path}"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        /%li.active
        -if signed_in?
          %li
            = link_to "Profile"
          %li
            = link_to "Items", items_path
      %ul.nav.navbar-nav.navbar-right
        %li
          -if signed_in?
            = link_to "Sign Out", destroy_user_session_path, method: :delete
          -else
            = link_to "Sign In", new_user_session_path
